body{
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    color: darkcyan;
}

#canvas{
    background-color: #ffffff;

    /*width: 640px;
    height: 480px;*/
}

.main {
    background-color: #ffffff;
    padding: 10px;

    border: thick sandybrown solid;
    border-radius: 10px;

    display: flex;
}