* {
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

*:active,
*:hover {

}

body{
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
    color: darkcyan;
}

#canvas{
    background-color: #ffffff;
    border: 1px #111 solid;
    /*width: 640px;
    height: 480px;*/
}

.main {
    background-color: #ffffff;
    padding: 10px;

    border: thick sandybrown solid;
    border-radius: 10px;

    display: flex;
}

h2 {
    padding: 0 10px;
}
#sadface {
    border: 3px sandybrown solid;
    border-radius: 10px;
    background-color: rgba(178, 34, 34, 0.5);
    margin: 10px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;-moz-user-select: none;


}
#sadface:hover {
    background-color: rgba(178, 34, 34, 1);
    cursor: pointer;
}